<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование конечных свойств композиционных материалов</title>
</head>
<body>
   <article>
       <h3 style="color:#4444cc; font-family:areal;">
       В данном веб-приложении можно спрогнозировать с помощью обученный нейронной сети
             конечные свойства прочности при растяжении, на основе
            введенных пользователем значений.
       </h3>

   </article>

   <p>
      <h4>Прогнозирование значения матрица-наполнитель</h4>

   <p><a href="{{url_for('pr_predict')}}">
       <h4>Прогнозирование прочности при растяжении</h4>
   </a>

   <p>
       <h4>Прогнозирование модуля упругости при растяжении</h4>


</body>

</html>

